.profile-details-container {
  height: 200px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.profile-image {
  height: 60px;
  width: 60px;
}
.profile-name {
  font-size: 24px;
  font-family: 'Roboto';
  color: #6366f1;
  margin-top: 6px;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .profile-name {
    font-size: 20px;
  }
}
.profile-bio {
  font-family: 'Roboto';
  color: #2c3643;
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 992px) {
  .profile-bio {
    font-size: 16px;
  }
}
.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 20px;
}

.profile-failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 20px;
}
.retry-button {
  font-size: 14px;
  color: #f8fafc;
  background-color: #4f46e5;
  font-family: 'Roboto';
  padding: 8px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}
